<!DOCTYPE html>
<html>
  <head>
    <title>INF Final KH</title>
    <style>
      /* Style the body to use a common font and center text */
      body {
        font-family: Arial, sans-serif; /* Set the font */
        text-align: center;
        background-color: #f4f4f9;
        margin: 0;
        padding: 0;
      }

      /* Style the header */
      h1 {
        color: #333;
        padding-top: 50px;
      }
    </style>
  </head>
  <body>
    <h1>Kyle's Final API</h1> <!-- Display the title in the header -->
  </body>
</html>
